@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap&text=%CE%A3');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto+Serif:opsz,wght@8..144,200&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

$carousel-height: 460px;
$carousel-img-width: 500px;
$body-background: #66066a;
$nav-background: rgb(150, 4, 150);
$alt-text-color: #834386;
$modal-padding: 14px;
$card-img-size: 300px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Georgia, serif;
  color: white;
  background: $body-background;
  min-height: 100vh;
}

nav {
  background: $nav-background;
  padding: 28px 14px;
  box-shadow: 0 14px 21px rgba(92, 3, 92, 0.5);
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 9999;
}

nav h1 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2.1rem;
  margin: 0 auto;
  max-width: 1080px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Flex', serif;
}

fieldset {
  padding: 14px;
  margin: 14px 0 14px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  width: 100%;
}

legend {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#kitty-greet,
.section,
.section-header,
.carousel-wrapper,
.carousel,
.carousel-items,
.carousel-item,
.carousel-item-info,
.search-wrapper,
.search-params,
.search-results,
.modal,
.modal-header,
.adoption-button {
  display: flex;
}

.carousel-item,
.carousel-item img,
.carousel-indicators span,
.carousel-navigator,
.section-header h2,
.carousel-item-info,
.search-button,
.load-more-button,
.adoption-button,
.adoption-button span,
.adoption-button svg,
.modal-backdrop,
.modal-closing-button svg {
  transition: 0.5s;
}

#kitty-greet {
  height: auto;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kitty-greet h1 {
  font-size: 7.5rem;
  padding-bottom: 7px;
  letter-spacing: 6px;
}

#kitty-greet p {
  font-family: 'Roboto Serif';
  font-weight: 200;
}

#kitty-carousel {
  padding: 21px 0 49px;
}

#kitty-search {
  margin-bottom: 42px;
}

.section {
  margin: 0 42px;
  flex-direction: column;
  align-items: center;
}

.section-header {
  text-align: left;
  flex-direction: column;
}

.section-header h2 {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  opacity: 0.85;
  width: $carousel-img-width;
}

.section-header hr {
  margin: 3.5px 0 21px;
  border: 1px solid white;
  opacity: 0.7;
}

.carousel-wrapper {
  flex-direction: column;
  align-items: center;
}

.carousel-items {
  flex-direction: row;
  justify-content: center;
  perspective: $carousel-height;
}

.carousel {
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: $carousel-height;
  perspective: $carousel-height;
}

.carousel-navigator {
  align-self: center;
  position: absolute;
  transform: scale(1.5);
  margin: 7px;
  cursor: pointer;
  padding: 14px;
  transform-style: preserve-3d;
  z-index: 9999;
}

.carousel-navigator:first-child {
  left: 0;
  transform: rotateY(-20deg) scale(1.5) translateX(-60px);
}

.carousel-navigator:last-child {
  right: 0;
  transform: rotateY(20deg) scale(1.5) translateX(60px);
}

.carousel-item img {
  width: $carousel-img-width;
  height: $carousel-height;
  object-fit: fill;
}

.carousel-item-info {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #66066a, #66066a00);
  opacity: 0;
  position: absolute;
  width: inherit;
  height: 21%;
  padding: 14px;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-item-info h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 0 2px #834386;
}

.carousel-item--prev,
.carousel-item--next {
  transform-style: preserve-3d;
  filter: grayscale(100%);
  opacity: 0.7;
}

.carousel-item--prev {
  transform: rotateY(-20deg) scale(0.76) translateX($carousel-img-width * 0.3);
}

.carousel-item--next {
  transform: rotateY(20deg) scale(0.76) translateX(-($carousel-img-width * 0.3));
}

.carousel-item--active {
  z-index: 9999;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.carousel-item--active:hover {
  cursor: pointer;
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.carousel-item--active:hover .carousel-item-info {
  opacity: 1;
}

.carousel-indicators {
  margin-top: 28px;
}

.carousel-indicators > span {
  margin: 0 7px;
  opacity: 0.35;
}

.carousel-indicators .carousel-indicator--active {
  opacity: 0.7;
}

.carousel-indicators:first-child {
  margin-left: 0;
}

.carousel-indicators:last-child {
  margin-right: 0;
}

.search-wrapper {
  width: 100%;
  gap: 35px;
}

.search-wrapper input[type='text'] {
  width: 100%;
  border-radius: 21px;
  padding: 14px;
}

.search-wrapper input[type='text']:placeholder-shown {
  font-style: italic;
}

.search-wrapper label {
  padding-left: 7px;
}

.search-params {
  flex-direction: column;
  padding: 0;
  width: 25%;
  align-items: center;
}

.search-param {
  margin-bottom: 7px;
}

.search-results {
  max-width: 1980px;
  width: 75%;
  gap: 21px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.search-result_card {
  background-color: white;
  overflow: hidden;
  max-width: 300px;
  height: 440px;
  border-radius: 14px;
  position: relative;
}

.search-result_card img {
  width: $card-img-size;
  height: $card-img-size;
  border-bottom: 1px solid #67066ab4;
}

.search-result_card-info {
  background: white;
  color: $alt-text-color;
  text-transform: uppercase;
  padding: 14px;
  padding: 14px 14px 56px 14px;
}

.search-result_card-info small::after {
  content: '\a';
  white-space: pre;
}

.load-more-button {
  width: 300px;
  height: 440px;
  border-radius: 14px;
}

.modal-backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 9998;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: $modal-padding;
  z-index: 9999;
  width: 500px;
  height: 500px;
  background: white;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 21px;
}

.modal-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #960496;
  text-transform: uppercase;
  padding-left: 14px;
}

.modal-body {
  padding: 0 14px;
  color: #960496;
}

.modal-body p {
  margin: 7px 0;
}

.button {
  cursor: pointer;
  font-family: 'Roboto Flex', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.modal-closing-button {
  padding: 14px;
  background-color: transparent;
}

.modal-closing-button svg {
  color: #520a5f;
}

.modal-closing-button:hover svg {
  color: #960496;
}

.search-button,
.load-more-button,
.adoption-button,
.adoption-button svg {
  background-color: #520a5f;
}

.search-button {
  padding: 14px;
  align-items: center;
  border-radius: 48px;
}

.adoption-button {
  width: 48px;
  min-height: 48px;
  overflow: hidden;
  align-items: center;
  border-radius: 48px;
  float: right;
}

.adoption-button span {
  display: none;
}

.adoption-button svg {
  position: absolute;
  right: $modal-padding;
  padding: 14px;
  border-radius: 34px;
}

.search-button:hover,
.load-more-button:hover,
.adoption-button:hover,
.adoption-button:hover svg {
  background-color: #960496;
}

.adoption-button:hover {
  width: 112px;
  padding-left: 14px;
}

.adoption-button:hover span {
  display: block;
}

@media only screen and (max-width: 1330px) {
  .section-header h2 {
    width: $carousel-img-width * 0.7;
  }

  .carousel {
    height: $carousel-height * 0.7;
  }

  .carousel-items {
    perspective: $carousel-height * 0.7;
  }

  .carousel-item img {
    width: $carousel-img-width * 0.7;
    height: $carousel-height * 0.7;
  }

  .carousel-item--prev {
    transform: rotateY(-20deg) scale(0.76) translateX($carousel-img-width * 0.2);
  }

  .carousel-item--next {
    transform: rotateY(20deg) scale(0.76)
      translateX(-($carousel-img-width * 0.2));
  }

  .carousel-navigator:first-child {
    transform: rotateY(-20deg) scale(1.5) translateX(-70px);
  }

  .carousel-navigator:last-child {
    transform: rotateY(20deg) scale(1.5) translateX(70px);
  }
}

@media only screen and (max-width: 900px) {
  .carousel-item--prev {
    transform: rotateY(-30deg) scale(0.57) translateX($carousel-img-width * 0.6);
  }

  .carousel-item--next {
    transform: rotateY(30deg) scale(0.57)
      translateX(-($carousel-img-width * 0.6));
  }

  .carousel-navigator:first-child {
    transform: rotateY(-30deg) scale(1.2) translateX(21px);
  }

  .carousel-navigator:last-child {
    transform: rotateY(30deg) scale(1.2) translateX(-21px);
  }

  .search-wrapper {
    flex-direction: column;
  }

  .search-params,
  .search-results {
    width: 100% !important;
  }

  .search-results {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 770px) {
  #kitty-greet {
    min-height: 15vh;
  }

  #kitty-greet h1 {
    font-size: 4rem;
  }

  .carousel-item--prev,
  .carousel-item--next {
    display: none;
  }

  .carousel-navigator:first-child,
  .carousel-navigator:last-child {
    position: relative;
    transform: scale(1.5);
  }

  .carousel-navigator:first-child {
    margin-right: 21px;
  }

  .carousel-navigator:last-child {
    margin-left: 21px;
  }
}
