@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap&text=%CE%A3");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto+Serif:opsz,wght@8..144,200&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', Georgia, serif;
  color: white;
  background: #85007d;
  background: -moz-linear-gradient(90deg, #85007d 0%, #450c57 100%);
  background: -webkit-linear-gradient(90deg, #85007d 0%, #450c57 100%);
  background: linear-gradient(90deg, #85007d 0%, #450c57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85007d", endColorstr="#450c57", GradientType=1); }

nav {
  background: #960496;
  padding: 28px 14px;
  box-shadow: 0 14px 21px rgba(92, 3, 92, 0.5);
  top: 0;
  left: 0;
  right: 0;
  position: sticky; }

nav h1 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2.1rem;
  margin: 0 auto;
  max-width: 1080px; }

#kitty-greet {
  height: auto;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

#kitty-greet h1 {
  font-family: 'Roboto Flex', serif;
  font-size: 7.5rem;
  padding-bottom: 7px;
  letter-spacing: 6px; }

#kitty-greet p {
  font-family: 'Roboto Serif';
  font-weight: 200; }

#kitty-carousel {
  padding-top: 21px; }

.section {
  margin: 0 21px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-header {
  text-align: left;
  display: flex;
  flex-direction: column; }

.section-header h2 {
  font-family: 'Roboto Flex', serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  opacity: 0.85;
  width: 500px; }

.section-header hr {
  margin: 3.5px 0 21px;
  border: 1px solid white;
  opacity: 0.7; }

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.carousel-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  perspective: 460px; }

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 460px;
  perspective: 460px; }

.carousel-navigator {
  align-self: center;
  position: absolute;
  transform: scale(1.5);
  margin: 7px;
  cursor: pointer;
  padding: 14px;
  transform-style: preserve-3d;
  z-index: 9999; }

.carousel-navigator:first-child {
  left: 0;
  transform: rotateY(-20deg) scale(1.5) translateX(-60px); }

.carousel-navigator:last-child {
  right: 0;
  transform: rotateY(20deg) scale(1.5) translateX(60px); }

.carousel-item,
.carousel-item img,
.carousel-indicators span,
.carousel-navigator,
.section-header h2,
.carousel-item-info,
.adoption-button,
.adoption-button span,
.adoption-button svg {
  transition: 0.5s; }

.carousel-item {
  display: flex; }

.carousel-item img {
  min-width: 500px;
  max-width: 500px;
  height: 460px;
  object-fit: fill; }

.carousel-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: inherit;
  margin: 0 14px 14px 14px;
  bottom: 0;
  left: 0;
  right: 0; }

.carousel-item-info h3 {
  overflow: hidden; }

.adoption-button {
  width: 48px;
  min-height: 48px;
  overflow: hidden;
  font-family: 'Roboto Flex', serif;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background-color: #520a5f;
  border-radius: 48px; }

.adoption-button span {
  display: none; }

.adoption-button svg {
  position: absolute;
  right: 0;
  padding: 14px;
  background-color: #520a5f;
  border-radius: 34px; }

.adoption-button:hover {
  background-color: #960496;
  width: 112px;
  padding-left: 14px; }

.adoption-button:hover span {
  display: block; }

.adoption-button:hover svg {
  background-color: #960496; }

.carousel-item--prev,
.carousel-item--next {
  transform-style: preserve-3d;
  filter: grayscale(100%);
  opacity: 0.7; }

.carousel-item--prev {
  transform: rotateY(-20deg) scale(0.76) translateX(150px); }

.carousel-item--next {
  transform: rotateY(20deg) scale(0.76) translateX(-150px); }

.carousel-item--active {
  z-index: 9999;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.carousel-item--active:hover {
  cursor: pointer;
  transform: matrix(1.1, 0, 0, 1.1, 0, 0); }

.carousel-item--active:hover .carousel-item-info {
  opacity: 1; }

.carousel-indicators {
  margin-top: 28px; }

.carousel-indicators > span {
  margin: 0 7px;
  opacity: 0.35; }

.carousel-indicators .carousel-indicator--active {
  opacity: 0.7; }

.carousel-indicators:first-child {
  margin-left: 0; }

.carousel-indicators:last-child {
  margin-right: 0; }

@media only screen and (max-width: 1330px) {
  .section-header h2 {
    width: 350px; }
  .carousel {
    height: 322px; }
  .carousel-items {
    perspective: 322px; }
  .carousel-item img {
    min-width: 350px;
    max-width: 350px;
    height: 322px; }
  .carousel-item--prev {
    transform: rotateY(-20deg) scale(0.76) translateX(100px); }
  .carousel-item--next {
    transform: rotateY(20deg) scale(0.76) translateX(-100px); }
  .carousel-navigator:first-child {
    transform: rotateY(-20deg) scale(1.5) translateX(-70px); }
  .carousel-navigator:last-child {
    transform: rotateY(20deg) scale(1.5) translateX(70px); } }

@media only screen and (max-width: 900px) {
  .carousel-item--prev {
    transform: rotateY(-30deg) scale(0.57) translateX(300px); }
  .carousel-item--next {
    transform: rotateY(30deg) scale(0.57) translateX(-300px); }
  .carousel-navigator:first-child {
    transform: rotateY(-30deg) scale(1.2) translateX(21px); }
  .carousel-navigator:last-child {
    transform: rotateY(30deg) scale(1.2) translateX(-21px); } }

@media only screen and (max-width: 770px) {
  #kitty-greet {
    min-height: 15vh; }
  #kitty-greet h1 {
    font-size: 4rem; }
  .carousel-item--prev,
  .carousel-item--next {
    display: none; }
  .carousel-navigator:first-child,
  .carousel-navigator:last-child {
    position: relative;
    transform: scale(1.5); }
  .carousel-navigator:first-child {
    margin-right: 28px; }
  .carousel-navigator:last-child {
    margin-left: 28px; } }
